
#top-d{
  overflow: hidden;
}
#myCanvas-d{
  float:left;
  margin:50px 0 0 20px;
}
#container-d{
  float:right;
  width:500px;
  height:200px;
  border:2px solid #f00;
  margin:50px 20px 0 0;
}
#disk,#power{
  cursor:move;
  border:1px solid #0f0;
  float:left;
}
#moveDiv{
  cursor:move;
  border:1px solid #00f;
}
label{
  margin-left:20px;
  display:inline-block;
  width:80px;
}
.data-d{
  background:#fff;
  border:none;
  border:1px solid #ccc;
  height:20px;
  width:30px;
  padding:0 10px;
  margin-left:5px;
}
#confirm-d{
  margin-left:50px;
  height:30px;
  width:40px;
}