#top-cl-s{
    overflow:hidden;
}
#container-s,#box-s{
  float:left;
  border:1px solid #f0f;
  width:600px;
  height:300px;
  text-align:center !important;
  margin:50px 0 20px 20px;
}
#data-box-s{
    padding:0 50px;
}
#btn-s{
    height:30px;
    width:70px;
    margin-right:100px;
}
#save-disk-s{
    background:#eef;
    display:inline-block;
    height:30px;
    width:90px;
    line-height: 30px;
    text-align:center;
    text-decoration:none;
    border-radius:5px;
}
#box-s{
    width:700px;
}
#myCanvas-s{
  float:left;
  position:absolute;
  left:640px;
  top:50px;
  display:none;
  border:1px solid red;
}