#container-s,#box-s{
  float:left;
  border:1px solid #f0f;
  width:650px;
  height:350px;
  text-align:center;
  margin:30px 0 0 20px;
}
#myCanvas-s{
  display:none;
  position:absolute;
  left:50px;
  top:350px;
}